@import "mixins";

/*HTML - HOME*/

main {
    .main__section1 {
        margin-top: 50px;
    }

    .main__titulo1 {
        text-align: map-get($estilos, centro);
        font-size: 50px;
        margin-top: 100px;
        text-decoration: none;
        color: black;
        padding-top: 30px;

    }

    .main__titulo2 {
        text-align: map-get($estilos, centro);
        font-size: 50px;
    }

    .main__section2__titulo {
        text-align: center;
        margin-bottom:40px;
        
    }


    .main__imagen {
        width: 100%;
        height: $alto + 400px;
        overflow: hidden;
        position: relative;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    @supports(object-fit: cover) {
        .main__imagen {
            height: 600px;
            object-fit: cover;
            object-position: center center;
        }
    }

    @media only screen and (min-width: 0px) and (max-width: 480px) {
        .main__imagen {
            width: 100%;
            height: ($alto * 3);
            overflow: hidden;
            position: relative;

        }

        @supports(object-fit: cover) {
            .main__imagen {
                height: 300px;
                object-fit: cover;
                object-position: center center;
            }
        }
    }

    .main__imagenhome {
        @include sizes(100%, 250px);
    }

    @media only screen and (min-width: 460px) and (max-width: 768px){
        @supports(object-fit: cover){
        .main__imagenhome{
            height:200px;
            width:100%;
            object-fit: cover;
            object-position: center center;
        }}
    }

    @media only screen and (min-width: 768px) and (max-width: 991px){
        @supports(object-fit: cover){
        .main__imagenhome{
            height:200px;
            width:100%;
            object-fit: cover;
            object-position: center center;
        }}
    }

    .main__base {
        margin-bottom: 30px;
    }

    .main__card-center {
        text-align: center;
    }

    /*Hero temporada */

    .contenedor {
        position: relative;

        text-align: center;
    }


    .texto-encima {
        position: absolute;
        top: 10%;
        left: 5%;
        transform: translate(-50%, -50%);
        font-size: 3rem;
        color: white;
        border: 1px;
        border: solid;
        padding: 20px;
        background-color: opacify($color: #00000063, $amount: 0);
    }

    .flecha-encima {
        position: absolute;
        bottom: 10%;
        left: 50%;
        height: 75px;
    }

    @media only screen and (min-width: 0px) and (max-width: 480px){
        .flecha-encima {
            position: absolute;
            bottom: 15%;
            left: 45%;
            height: 50px;
        }
    }

    @media only screen and (min-width: 0px) and (max-width: 480px) {

        .texto-encima {
            position: absolute;
            top: 20%;
            right:5%;
            transform: translate(-50%, -50%);
            font-size: 1.8rem;
            color: white;
        }
    }




    /*Hero Ofertas*/


    .imagen__ofertas--zapatos {
        position: absolute;
        left: 0%;
        height: 600px;
        width: 100%;
    }

    @supports(object-fit: cover) {
        .imagen__ofertas--zapatos {
            height: 600px;
            object-fit: cover;
            object-position: center top;
        }
    }

    .texto__oferta {
        position: absolute;
        color: white;
        top: 10%;
        left: 5%;
        border: 2px;
        border: solid;
        padding: 20px;
        background-color: opacify($color: #00000075, $amount: 0);
    }

    @media only screen and (min-width: 0px) and (max-width: 480px){
        .texto__oferta {
            position: absolute;
            color: white;
            top: 20%;
            right: 5%;
            border: 2px;
            border: solid;
            padding: 10px;
            background-color: opacify($color: #00000075, $amount: 0);
        }
    }

    .boton__oferta {
        position: absolute;
        top: 40%;
        left: 20%;
        background-image: linear-gradient(-45deg, #3f00b5, #9f69fe, #27c8b7, #3f00b5);
        background-size: 800% 400%;
        padding: 1em 4em;
        display: inline-block;
        border: none;
        border-radius: 10px;
        font-size: 17px;
        font-weight: 700;
        color: white;
        transition: all .5s ease-in-out;
        animation: gradient 10s infinite cubic-bezier(.62, .28, .23, .99) both;
        box-shadow: 5px 5px rgba(0, 0, 0, 0.5);
    }

    .boton__oferta:hover {
        animation: gradient 3s infinite;
        transform: scale(1.05);
    }

    .boton__oferta:active {
        animation: gradient 3s infinite;
        transform: scale(0.8);
    }

    @keyframes gradient {
        0% {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }
    }

    @media only screen and (min-width: 0px) and (max-width: 480px){
        .boton__oferta{
            padding: 0.5em 1em;
            position: absolute;
            top: 70%;
            left: 37%;
        }
    }


    .card {
        box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
    }

    /*TEMPORADA*/

.main__imagen__temporada{
    height:500px;
    
}


@supports(object-fit: cover) {
    .main__imagen__temporada {
        height: 600px;
        object-fit: cover;
        object-position: center center;
    }
}

@supports(object-fit: cover) {
    .main__imagen__temporada-niño {
        height: 600px;
        object-fit: cover;
        object-position: center bottom;
    }
}

@media only screen and (min-width: 0px) and (max-width: 480px) {
    .main__imagen__temporada, .main__imagen__temporada-niño {
        width: 100%;
        height: ($alto * 3);
        overflow: hidden;
        position: relative;

    }

   .temporada__margin{
    margin-bottom: 50px;
    }

    @supports(object-fit: cover) {
        .main__imagen__temporada, .main__imagen__temporada-niño{
            height: 300px;
            object-fit: cover;
            object-position: center center;
        }
    }
 
}
.temporada__margin{
    margin-bottom: 5%;

}

/*ESCOLARES*/

@media only screen and (min-width: 0px) and (max-width: 480px){
    @supports(object-fit: cover){
    .main__imagen-escolares{
        height: 300px;
        object-fit: cover;
        object-position: 80%;

}}}
}