/*Globales - en todos los HTML*/

.body__color {
    /* background-image: linear-gradient(to right bottom, #e7f336, #edda1f, #f0c10d, #efa809, #eb9012); */
    background-color: map-get($estilos, color );
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
legend {
    font-family: 'Domine', serif !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold !important;
    text-decoration: none;
}

header {
    .header__logo {
        height: $alto - 25px;
    }

    .header__carrito {
        color: white;
        padding-right: 20px;
        font-size: 45px;
    }

    .header__icon {
        text-align: right;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .header__icon a:hover {
        padding: 5px;
    }

    .header__navigation {
        top: 0px;
        position: sticky;
        z-index: 1;
        
    }

    .header__size {
        font-size: 1.3rem;
        
    }

    .header__boton {
        background-color: grey !important;
        color:black;
        border-color: black;
    }
}

main {
    .main__titulo1 {
        text-align: map-get($estilos, centro);
        font-size: 50px;
        margin-top: 100px;
        text-decoration: none;
        color: black;
        padding-top: 30px;

    }

    .main__titulo2 {
        text-align: map-get($estilos, centro);
        font-size: 50px;
    }
}


footer {
    .footer__navigation {
        text-align: right;
    }

    .footer__pago {
        color: white;
    }

    .footer__mediodepago {
        text-align: map-get($estilos, centro);
    }

    .footer__iconos {
        color: white;
        font-size: 30px;
        text-align: map-get($estilos, centro);
        text-decoration: none;
    }

    .footer__size {
        font-size: 1rem !important;
    }

    .footer__iconos a {
        text-decoration: none;
    }
}

.decoration {
    text-decoration: none;
    color: black;
}
.bg-azulmarino {
    background-color: #252440;
}
.color {
    color: white !important;
}

