$alto:100px;
$ancho:720px;

/*maps*/

// $estilos:(
//     color : linear-gradient(120deg, #ffe4c4, #fdd5a5, #fac587, #f6b669, #f2a64b),
//     centro: center   
// )


 $estilos:(
 color: linear-gradient(-45deg, #ffe4c4,rgb(250, 203, 145),rgb(230, 172, 102),rgb(223, 150, 62)),
 centro: center,  
 )



