$alto:100px;
$ancho:720px;

/*maps*/

// $estilos:(
//     color : linear-gradient(120deg, #ffe4c4, #fdd5a5, #fac587, #f6b669, #f2a64b),
//     centro: center   
// )


 $estilos:(
 color:linear-gradient(to right bottom, #fbbd6f, #fbb962, #fab654, #f9b245, #f8af34),
 centro: center,  
 )



