@import "variables";
@import "home";
@import "sobreNosotros";
@import "contactanos";

/********/

/* HTML - PRODUCTOS - CALZADOS*/

main {
    .accesorio {
        padding-bottom: 40px;
    }

    .imagen__accesorio {
        width: 100%;
        height: 250px;
    }

    @supports(object-fit: cover) {
        .imagen__accesorio {
            height: 300px;
            object-fit: cover;
            object-position: center bottom;
        }
    }

    @media only screen and (min-width: 0px) and (max-width: 480px) {
        .imagen__accesorio {
            width: 100%;
            height: 150px;
        }
    }

    @supports(object-fit: fit) {
        .imagen__accesorio {
            height: 300px;
            object-fit: fit;
            object-position: center center;
        }
    }

    @media (min-width:768px) {
        .hombres {
            padding-bottom: 193px;
            padding-top: 70px;
        }
    }

    .center {
        display: flex;
        justify-content: center;
    }
    
    .imagen__accesorio__billeteras,
    .imagen__accesorio__carteras {

        width: 100%;
        height: 250px;
    }

    @supports(object-fit: cover) {

        .imagen__accesorio__billeteras,
        .imagen__accesorio__carteras {
            height: 250px;
            object-fit: cover;
            object-position: center center;
        }
    }

    @media only screen and (min-width: 0px) and (max-width: 480px) {

        .imagen__accesorio__billeteras,
        .imagen__accesorio__carteras {
            width: 100%;
            height: 150px;
        }
    }

    @supports(object-fit: fit) {

        .imagen__accesorio__billeteras,
        .imagen__accesorio__carteras {
            height: 300px;
            object-fit: fit;
            object-position: center center;
        }
    }
    @media (min-width:768px) {
    .hombres {
        padding-bottom: 193px;
        padding-top: 70px;
    }
}
}
