@import "variables";

/*Globales - en todos los HTML*/

.bodyColor {
    /* background-image: linear-gradient(to right bottom, #e7f336, #edda1f, #f0c10d, #efa809, #eb9012); */
    background-color: $backgroundcolorbody;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
p,
a,
legend {
    font-family: 'Domine', serif !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: bold !important;
    text-decoration: none;
}

header {
    .header__logo {
        height: $alto - 25px;
    }

    .carrito {
        color: white;
        padding-right: 20px;
        font-size: 45px;
    }

    .header__icon {
        text-align: right;
        position: absolute;
        top: 0px;
        right: 0px;
    }

    .header__icon a:hover {
        padding: 5px;
    }

    .header__navigation {
        top: 0px;
        position: sticky;
        z-index: 1;
    }

    .size {
        font-size: 1.5rem;
    }

    .estiloBoton {
        background-color: grey !important;
    }
}

main {
    .main__titulo1 {
        text-align: center;
        font-size: 50px;
        margin-top: 100px;
        text-decoration: none;
        color: black;
        padding-top: 30px;

    }

    .main__titulo2 {
        text-align: center;
        font-size: 50px;
    }
}


footer {
    .footer__navigation {
        text-align: right;
    }

    .pago {
        color: white;
    }

    .mediodepago {
        text-align: center;
    }

    .iconos {
        color: white;
        font-size: 30px;
        text-align: center;
        text-decoration: none;
    }

    .footerSize {
        font-size: 1rem !important;
    }
}

/*Globales para header y footer*/
.decoration {
    text-decoration: none;
    color: black;
}

.bg-azulmarino {
    background-color: #252440;
}

.color {
    color: white !important;
}

.iconos a {
    text-decoration: none;
}

/******/

/*HTML - HOME*/
main {
    .titulo-gral {
        text-align: center;
        padding: 20px;
        padding-bottom: 50px;
        font-size: 3rem;
    }

    @supports(object-fit: cover) {
        .imagen__muestra {
            height: 100%;
            object-fit: cover;
            object-position: center center;
        }
    }

    .imagen__muestra {
        width: 100%;
        height: 500px;
        overflow: hidden;
        position: relative;
        margin-bottom: 50px;
        margin-top: 50px;
    }

    @media only screen and (min-width: 0px) and (max-width: 480px) {
        @supports(object-fit: cover) {
            .imagen__muestra {
                height: 50%;
                object-fit: cover;
                object-position: center center;
            }
        }

        .imagen__muestra {
            width: 100%;
            height: 400px;
            overflow: hidden;
            position: relative;

        }
    }

    .imagen__home {
        width: 100%;
        height: 250px;
    }

    .base {
        margin-bottom: 30px;
    }

    .card-center {
        text-align: center;
    }

}



/********/

/* HTML - ACCESORIOS */

main {
    .accesorio {
        padding-bottom: 40px;
    }

    .imagen__accesorio {
        width: 100%;
        height: 250px;
    }

    @supports(object-fit: cover) {
        .imagen__accesorio {
            height: 300px;
            object-fit: cover;
            object-position: center bottom;
        }
    }

    @media only screen and (min-width: 0px) and (max-width: 480px) {
        .imagen__accesorio {
            width: 100%;
            height: 150px;
        }
    }

    @supports(object-fit: fit) {
        .imagen__accesorio {
            height: 300px;
            object-fit: fit;
            object-position: center center;
        }
    }

    @media (min-width:768px) {
        .hombres {
            padding-bottom: 193px;
            padding-top: 70px;
        }
    }

    .center {
        display: flex;
        justify-content: center;
    }
}

/* HTML - ACCESORIOS - BIJOUTERIE*/

/* HTML - MARROQUINERIA  */

main {

    .imagen__accesorio__billeteras,
    .imagen__accesorio__carteras {

        width: 100%;
        height: 250px;
    }

    @supports(object-fit: cover) {

        .imagen__accesorio__billeteras,
        .imagen__accesorio__carteras {
            height: 250px;
            object-fit: cover;
            object-position: center center;
        }
    }

    @media only screen and (min-width: 0px) and (max-width: 480px) {

        .imagen__accesorio__billeteras,
        .imagen__accesorio__carteras {
            width: 100%;
            height: 150px;
        }
    }

    @supports(object-fit: fit) {

        .imagen__accesorio__billeteras,
        .imagen__accesorio__carteras {
            height: 300px;
            object-fit: fit;
            object-position: center center;
        }
    }
}


/* HTML - HOMBRES */
@media (min-width:768px) {
    .hombres {
        padding-bottom: 193px;
        padding-top: 70px;
    }
}

/*HTML- SOBRE NOSOTROS*/

main {
    @media (min-width:480px) {
        .sobreNosotros {
            display: grid;
            grid-template-columns: 1fr 1fr;
            padding: 10px;
            column-gap: 2rem;
        }
    }

    .sobreNosotros {
        padding: 10px;
        margin-top: 50px;
    }

    .sobreNosotros__imagen {
        margin-left: 300px;
        width: 500px;
        height: 300px;
    }

    @media only screen and (min-width: 0px) and (max-width: 480px) {
        .sobreNosotros__imagen {
            width: 300px;
            height: 200px;
            padding: 25px;
            margin: 10px;
        }
    }

    @media (min-width:480px) {
        .sobreNosotros__texto {
            margin-right: 100px;
        }
    }

    @media only screen and (min-width: 0px) and (max-width: 480px) {
        .sobreNosotros__texto {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .mapa {
        display: flex;
        justify-content: center;
        padding: 20px;
        gap: 5px;
    }

    .mapa__parrafo {
        text-align: center;
    }

    .main__table {
        margin-bottom: 100px;
        padding: 20px;
    }

    @media only screen and (min-width: 0px) and (max-width: 480px) {
        .main__table {
            margin-bottom: 100px;
            padding: 10px;
            font-size: .9rem;
            text-align: center;
        }
    }

    table {
        border: solid;
        /* border-radius: 2rem; */
        background-color: grey;
        margin-top: 50px;
    }

    @media only screen and (min-width: 0px) and (max-width: 480px) {
        table {
            border: solid;
            background-color: grey;
            align-items: center;
        }
    }

    td {
        border-radius: 1rem;
        padding: 5px;
    }

    @media only screen and (min-width: 0px) and (max-width: 480px) {
        td {
            border-radius: 1rem;
            padding-left: 4px;
        }
    }
}

/*******/

/*HTML - CONTACTANOS*/

main {
    .form {
        background-color: #252440;
        width: 40%;
        margin: 0 auto 150px;
        border-radius: 1rem;
        padding: 2rem;
        margin-top: 90px;

        .form fieldset {
            border: none;
        }
    }

    @media only screen and (min-width: 0px) and (max-width: 480px) {
        .form {
            background-color: #252440;
            width: 80%;
            margin: 0 auto 150px;
            border-radius: 1rem;
            padding: 1rem;
            font-family: 'Domine', serif;
            font-family: 'Open Sans', sans-serif;
            margin-top: 45px;
        }
    }

    .campo {
        margin-bottom: 1rem;
    }

    .campo label {
        color: white;
        font-weight: bold;
        margin-bottom: .5rem;
        display: block;
    }

    @media (min-width: 768px) {
        .contenedor-campos {
            font-family: 'Domine', serif;
            font-family: 'Open Sans', sans-serif;
            font-size: 20px;
            margin-bottom: .5rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: auto auto 20rem;
            column-gap: 3rem;
        }

        .campo:nth-child(3) {
            grid-column: 1 / 3;
        }

        .campo:nth-child(4) {
            grid-column: 1 / 3;
        }
    }

    @media (min-width: 768px) {
        .input-text {
            border: none;
            width: 100%;
            border-radius: .5rem;
            padding: 1rem;
        }
    }

    @media (max-width: 480px) {
        .input-text {
            border: none;
            width: 90%;
            border-radius: .5rem;
            padding: 1rem;
        }
    }

    .botonEnviar {
        background-color: #065e91;
        color: whitesmoke;
        margin-top: .5rem;
        padding: .5rem 3rem;
        border-radius: 5px;
        font-weight: 700;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.2rem;
        border: none;
    }

    .boton__enviar {
        text-align: right;
    }

    @media only screen and (min-width: 0px) and (max-width: 480px) {
        .boton__enviar {
            text-align: center;
        }
    }

    .botonEnviar:hover {
        cursor: pointer;
    }

    .campo textarea {
        height: 10rem;
    }
}